:root {
    --fist-font:'Roboto', sans-serif;
    --seccond-font:'Raleway', sans-serif;
    --white-text-teme-dark:#FFFFFF;
    --gray-text-teme-white: #757575; 
    --black-text-teme-white:#212121;
    --accent-color: #2196F3;
    --background-color:#F5F5F5 ;
    --color-logo:#000000 ;
    --ES-color:#2F303A;
    --Button:#188CE8;
    --footer-contact: rgba(255, 255, 255, 0.6);
    --title:#F5F4FA;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}
button {
    cursor:pointer;
}

body {
    font-family:var(--fist-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color:var(--background-color);
    color:var(--gray-text-teme-white);
}
.conteiner {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.Padding
 {
  padding-top: 94px; 
  padding-bottom: 94px;
 }
 .command {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.logo {
font-family:var(--seccond-font);
font-weight:700;
font-size:26px;
line-height:1.19;
color:var(--color-logo);
margin-right: 93px;
}
.footer-marg {
    margin-bottom: 20px;
}
/*==========================================HEADER=======================*/
.header-page {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}
.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}
.menu,
.menu-contact {
    display: flex;
}
.menu-item:not(:last-child){
    margin-right: 50px;}
.menu-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--black-text-teme-white);
}
.menu-contact {
    column-gap: 50px;
}
.menu-link:hover,
.menu-link:focus,
.Web,
.Telephone:hover,
.Telephone:focus
 {
  color:var(--accent-color);
}

.Contact,
.Telephone
{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--gray-text-teme-white);
}
.Contact:hover,
.Contact:focus,
.Telephone:hover,
.Telephone:focus
{
color: var(--accent-color) ;
}
/*=================================MAIN==============*/
.Effective-solutions {
background:var(--ES-color);
padding-top: 80px;
padding-bottom: 94px;
}
.main-header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--white-text-teme-dark);
}

 .Open-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--white-text-teme-dark);
background-color:var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px; 

 } 
 .bord {
    width: 696px;
    height: 120px; 
    padding-top: 200px; 
    padding-bottom: 360px;
 }
 .block {
    display: block;
    margin: auto;
    margin-top: 30px;
    
 }
 
.Open-button:focus,
.Open-button:hover
  {
background-color:var(--Button);  
}
.Button-many {
    font-weight: 500;
    font-size: 16px;
    line-height:1,62;
    text-align: center;
    color:var(--black-text-teme-white);
    
}
.Button-many:focus,
.Button-many:hover {
color:var(--white-text-teme-dark);
background-color:var(--accent-color);
}
/*========================================ABOUT============*/

.about-card {
flex-basis: calc(100%-90px)/4;
}
.about {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color:var(--black-text-teme-white);
margin-bottom: 10px;
}
.about-list {
line-height: 1.71;
width: 270px;}
/*===========================Section4=============*/
.title-section {
    background-color:var(--title);
}
.title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color:var(--black-text-teme-white);
margin-bottom: 50px;
}


.our-comand {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color:var(--black-text-teme-white);
margin-bottom: 10px;
margin-top: 30px;
}

.our-title {
font-size: 16px;
line-height: 1.19;
text-align: center;
}
/*==================================FOOTER==================*/

.footer-page {
    background:var(--ES-color);
    
    }
.footer-c {
    padding-top:60px;
    padding-bottom:60px;
}
.footer-link {
    margin-bottom: 20px;
}
.logo-footer {
font-family:var(--seccond-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color:var(--white-text-teme-dark);

}
.address {
font-style: normal;
}
.footer-adr {
    margin-bottom: 9px;
}

.Map {
line-height: 1.71;
color:var(--white-text-teme-dark);
}

.Contact-footer,
.Telephone-footer {
line-height: 1.71;
color:var(--footer-contact);
}

.Contact-footer:hover,
.Contact-footer:focus,
.Telephone-footer:hover,
.Telephone-footer:focus
{
color: var(--accent-color) ;

}


.Button-Projects {
    display: flex;
    gap: 8px;
    padding-bottom: 50px; 
    justify-content :center ;    
    align-items: center;
}

.Project-page {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--black-text-teme-white);
}
.Progect-paragraf {
    font-size: 16px;
    line-height: 1.88; 
}